#toolbar{
  height: 52px;
}

#toolbar > span{
    margin: 0 auto;
    font-size: 1.6rem;
}

.container{
  margin: 24px auto;
  max-width: 708px;
  min-width: 320px;
  padding: 0.01rem 16px;
}

.example-form{
  background-color: #f5f5f5;
  margin: 20px auto;
  margin-bottom: 40px;
  max-width: 728px;
}

.example-form::after {
  content: "";
  clear: both;
  display: table;
}

.example-card {
  background-color: #f5f5f5;
  margin: 24px auto;
  padding: 10px;
}

.example-card:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

@media (max-width: 600px){
  mat-card-header {
    margin: 0;
  }
}
